<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,300}</string>
                <key>spriteSourceSize</key>
                <string>{250,302}</string>
                <key>textureRect</key>
                <string>{{503,1},{250,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,268}</string>
                <key>spriteSourceSize</key>
                <string>{250,270}</string>
                <key>textureRect</key>
                <string>{{1007,555},{250,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{111,148}</string>
                <key>spriteSourceSize</key>
                <string>{117,154}</string>
                <key>textureRect</key>
                <string>{{1763,450},{111,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_petard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{248,311}</string>
                <key>spriteSourceSize</key>
                <string>{250,315}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,248}</string>
                <key>textureRect</key>
                <string>{{755,863},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>blue_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,272}</string>
                <key>textureRect</key>
                <string>{{1511,1},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_rocket_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{236,155}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1511,791},{236,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,301}</string>
                <key>spriteSourceSize</key>
                <string>{250,303}</string>
                <key>textureRect</key>
                <string>{{251,312},{250,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,270}</string>
                <key>spriteSourceSize</key>
                <string>{250,272}</string>
                <key>textureRect</key>
                <string>{{1511,273},{250,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{144,138}</string>
                <key>textureRect</key>
                <string>{{1763,170},{138,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_petard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,309}</string>
                <key>spriteSourceSize</key>
                <string>{250,311}</string>
                <key>textureRect</key>
                <string>{{251,1},{250,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1003,863},{248,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>green_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,265}</string>
                <key>spriteSourceSize</key>
                <string>{250,265}</string>
                <key>textureRect</key>
                <string>{{755,596},{250,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>green_rocket_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{236,155}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1511,948},{236,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,298}</string>
                <key>spriteSourceSize</key>
                <string>{250,298}</string>
                <key>textureRect</key>
                <string>{{503,303},{250,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,269}</string>
                <key>spriteSourceSize</key>
                <string>{249,269}</string>
                <key>textureRect</key>
                <string>{{1259,547},{249,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,130}</string>
                <key>spriteSourceSize</key>
                <string>{138,134}</string>
                <key>textureRect</key>
                <string>{{1763,310},{138,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_petard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{248,299}</string>
                <key>spriteSourceSize</key>
                <string>{250,313}</string>
                <key>textureRect</key>
                <string>{{251,615},{248,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{244,245}</string>
                <key>spriteSourceSize</key>
                <string>{250,257}</string>
                <key>textureRect</key>
                <string>{{1511,545},{244,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purple_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,271}</string>
                <key>spriteSourceSize</key>
                <string>{250,271}</string>
                <key>textureRect</key>
                <string>{{1259,1},{250,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purple_rocket_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,173}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1,923},{250,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,293}</string>
                <key>spriteSourceSize</key>
                <string>{250,293}</string>
                <key>textureRect</key>
                <string>{{755,301},{250,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,277}</string>
                <key>spriteSourceSize</key>
                <string>{250,279}</string>
                <key>textureRect</key>
                <string>{{1007,1},{250,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{129,167}</string>
                <key>spriteSourceSize</key>
                <string>{135,175}</string>
                <key>textureRect</key>
                <string>{{1763,1},{129,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_petard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{248,305}</string>
                <key>spriteSourceSize</key>
                <string>{250,309}</string>
                <key>textureRect</key>
                <string>{{1,314},{248,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,253}</string>
                <key>spriteSourceSize</key>
                <string>{250,255}</string>
                <key>textureRect</key>
                <string>{{1259,818},{250,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{250,273}</string>
                <key>spriteSourceSize</key>
                <string>{250,281}</string>
                <key>textureRect</key>
                <string>{{1007,280},{250,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>red_rocket_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{238,157}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{253,916},{238,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,298}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{755,1},{250,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,271}</string>
                <key>spriteSourceSize</key>
                <string>{250,271}</string>
                <key>textureRect</key>
                <string>{{1259,274},{250,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,168}</string>
                <key>spriteSourceSize</key>
                <string>{146,168}</string>
                <key>textureRect</key>
                <string>{{1758,600},{146,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_petard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{248,300}</string>
                <key>spriteSourceSize</key>
                <string>{250,308}</string>
                <key>textureRect</key>
                <string>{{1,621},{248,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{242,239}</string>
                <key>spriteSourceSize</key>
                <string>{250,249}</string>
                <key>textureRect</key>
                <string>{{501,872},{242,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_rocket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,267}</string>
                <key>spriteSourceSize</key>
                <string>{250,267}</string>
                <key>textureRect</key>
                <string>{{503,603},{250,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yellow_rocket_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{236,155}</string>
                <key>spriteSourceSize</key>
                <string>{250,173}</string>
                <key>textureRect</key>
                <string>{{1749,791},{236,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game_items.png</string>
            <key>size</key>
            <string>{1905,1112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a087d5c5564f3aaafc7024de9c2be09:e521fb93884835e2dc6b06e16a9b0f33:5c503fa1d918f45599fde7a01c348aa3$</string>
            <key>textureFileName</key>
            <string>game_items.png</string>
        </dict>
    </dict>
</plist>
